/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-dark-teal/theme.css";
@import "primeng/resources/primeng.css";

.p-float-label input:not(:placeholder-shown) ~ label,
.p-float-label input:-webkit-autofill ~ label
{
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}
