form, .filter-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .p-float-label, p-triStateCheckbox {
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
}
