<div class="main-container">

    <div class="header-row">
        <h2 class="heading">Könyvek kezelése</h2>
    </div>

    <section class="filter-container">
        <form [formGroup]="filterForm" class="filter-form" (keydown.enter)="filter()">
            <span class="p-float-label">
                <p-inputNumber formControlName="inventoryNumber" mode="decimal" inputId="search-inventoryNumber" [useGrouping]="false"> </p-inputNumber>
                <label for="number-input">Leltári szám</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="search-author" formControlName="author" autocomplete="off" type="search"/>
                <label for="search-author">Író/szerkesztő</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="search-title" formControlName="title" autocomplete="off" type="search"/>
                <label for="search-title">Cím</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="search-genre" formControlName="genre" autocomplete="off" type="search"/>
                <label for="search-genre">Műfaj</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="search-subjectArea" formControlName="subjectArea" autocomplete="off" type="search"/>
                <label for="search-subjectArea">Tárgykör</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="search-publisher" formControlName="publisher" autocomplete="off" type="search"/>
                <label for="search-publisher">Kiadó</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="search-isbn" formControlName="isbn" autocomplete="off" type="search"/>
                <label for="search-isbn">ISBN</label>
            </span>
        </form>
        <div class="button-container">
            <p-button (onClick)="resetFilters()" icon="pi pi-delete-left" severity="danger" label="Szűrők törlése"></p-button>
            <p-button type="button" icon="pi pi-search" (onClick)="filter()" label="Szűrés"></p-button>
        </div>
    </section>    

    <section class="list-section">
        <div class="button-container table-button-row">
            <p-button icon="pi pi-plus" label="Új" styleClass="p-button-success" (onClick)="showAddBookDialog()"></p-button>
        </div>
        <p-table [value]="bookList" responsiveLayout="stack" [breakpoint]="'1000px'">
            <ng-template pTemplate="header">
                <tr>
                    <th>Leltári szám</th>
                    <th>Író/szerkesztő</th>
                    <th>Cím</th>
                    <th>Műfaj</th>
                    <th>Tárgykör</th>
                    <th>Kiadó</th>
                    <th>ISBN</th>
                    <th>Műveletek</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-book>
                <tr>
                    <td><span class="p-column-title">Leltári szám:</span>{{ book.inventoryNumber }}</td>
                    <td><span class="p-column-title">Író/szerkesztő:</span>{{ book.author }}</td>
                    <td><span class="p-column-title">Cím:</span>{{ book.title }}</td>
                    <td><span class="p-column-title">Műfaj:</span>{{ book.genre }}</td>
                    <td><span class="p-column-title">Tárgykör:</span>{{ book.subjectArea }}</td>
                    <td><span class="p-column-title">Kiadó:</span>{{ book.publisher }}</td>
                    <td><span class="p-column-title">ISBN:</span>{{ book.isbn }}</td>
                    <td>
                        <span class="p-column-title">Műveletek:</span>
                        <i class="pi pi-pencil icon-button" (click)="showEditBookDialog(book)" pTooltip="Szerkesztés"></i>
                        <i class="pi pi-trash icon-button error-color" pTooltip="Törlés" (click)="confirmDelete(book)"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>        
    </section>

</div>

<p-dialog [(visible)]="bookDialogVisible" [header]="dialogHeader" [draggable]="false" [resizable]="false" [modal]="true">

    <form class="dialog-form" [formGroup]="bookForm" (keydown.enter)="saveBook()">
        <span class="p-float-label">
            <p-inputNumber formControlName="inventoryNumber" mode="decimal" inputId="search-inventoryNumber" [useGrouping]="false"> </p-inputNumber>
            <label for="number-input" class="required">Leltári szám</label>
        </span>
        <span class="p-float-label">
            <input pInputText id="title" formControlName="title" autocomplete="off" type="search"/>
            <label for="title" class="required">Cím</label>
        </span>
        <span class="p-float-label">
            <input pInputText id="author" formControlName="author" autocomplete="off" type="search"/>
            <label for="author" class="required">Író/szerkesztő</label>
        </span>
        <span class="p-float-label">
            <input pInputText id="isbn" formControlName="isbn" autocomplete="off" type="search"/>
            <label for="isbn">ISBN</label>
        </span>
        <span class="p-float-label">
            <input pInputText id="publisher" formControlName="publisher" autocomplete="off" type="search"/>
            <label for="publisher">Kiadó</label>
        </span>
        <span class="p-float-label">
            <input pInputText id="genre" formControlName="genre" autocomplete="off" type="search"/>
            <label for="genre">Műfaj</label>
        </span>
        <span class="p-float-label">
            <input pInputText id="subjectArea" formControlName="subjectArea" autocomplete="off" type="search"/>
            <label for="subjectArea">Tárgykör</label>
        </span>
    </form>


    <ng-template pTemplate="footer">
        <div class="button-container">
            <p-button label="Mégse" styleClass="p-button-outlined" (onClick)="cancel()"></p-button>
            <p-button label="Mentés" icon="pi pi-save" styleClass="p-button-success" (onClick)="saveBook()" [disabled]="!bookForm.valid"></p-button>
        </div>
    </ng-template>

</p-dialog>
