.filter-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .p-float-label, p-checkbox, p-triStateCheckbox {
        margin-right: 1rem;
        margin-bottom: 1.5rem;
    }
}

.button-container {
    display: flex;
    flex-wrap: nowrap;
}


p-triStateCheckbox, p-checkbox, p-triStateCheckbox {
    width: 17.375rem;
}
