<div id="header-container">

    <div id="header-row">
        <div class="header-group">
            <img id="header-logo" src="assets/img/logo-round.png">
            <span id="header-title">Omniverzum - könyvtár</span>
        </div>
    
        <div class="header-group" *ngIf="authService.hasToken()">
            <span>
                <i class="pi pi-user icon-button" (click)="navigateToProfile()"></i>
                <span id="user-name">{{authService.getUserData()?.fullName}}</span>
            </span>
            <span>
                <i id="logout-icon" class="pi pi-sign-out icon-button" (click)="logout()"></i>
            </span>
        </div>
    </div>

    <div id="link-row" *ngIf="authService.hasToken()">
        <!-- Admin pages -->
        <ng-container *ngIf="authService.getUserData()?.admin">
            <span class="link-with-icon">
                <i class="pi pi-users"></i>
                <a routerLink="/user-list" routerLinkActive="active-link" >Tagok</a>
            </span>
            <span class="link-with-icon">
                <i class="pi pi-book"></i>
                <a routerLink="/book-list" routerLinkActive="active-link">Könyvek</a>
            </span>
            <span class="link-with-icon">
                <i class="pi pi-upload"></i>
                <a routerLink="/book-import" routerLinkActive="active-link">Import fájl</a>
            </span>
            <span class="link-with-icon link-separator"></span>
        </ng-container>
        <!-- Reader pages -->
        <span class="link-with-icon">
            <i class="pi pi-book"></i>
            <a routerLink="/available-books" routerLinkActive="active-link">Kölcsönzés</a>
        </span>
    </div>
    
</div>


