#header-container {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

#header-row {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

#link-row {
    display: flex;
    border-top: 1px solid color-mix(in srgb, var(--primary-color-text) 50%, transparent);
    background-color: var(--primary-color);
    padding-left: 1rem;
    .link-with-icon {
        margin-right: 1.2rem;
        color: var(--primary-color-text);
        font-weight: bold;
        padding: 4px;
        border-radius: 8px;

        a {
            margin-left: .25rem;
            color: var(--primary-color-text);
            text-decoration: none;
            &.active-link {
                text-decoration: underline;
            }
        }

        &:has(> a.active-link) {
            background-color: rgba(0, 0, 0, .2);
        }
    }
}

#header-logo {
    height: 2rem;
}
#header-title {
    font-style: italic;
    font-size: 1.1rem;
}

#user-name {
    user-select: none;
}

#logout-icon {
    margin-left: 1rem;
}

.header-group {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    * {
        margin-right: .5rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

@media (max-width: 1000px) {
    #user-name {
        display: none;
    }
    #logout-icon {
        margin-left: 0;
    }
    #header-row {
        height: 3rem;
    }
}
