<div id="header-row">
    <div class="header-group">
        <img id="header-logo" class="icon-button" src="assets/img/logo.png">
        <span id="header-title">Omniverzum - könyvtár</span>
    </div>

    <div class="header-group" *ngIf="authService.hasToken()">
        <div *ngIf="authService.getUserData()?.admin">
            <a routerLink="/user-list">Tagok</a>
            <a routerLink="/book-list">Könyvek</a>
        </div>
        <div></div>
    </div>

    <div class="header-group" *ngIf="authService.hasToken()">
        <span>
            <i class="pi pi-user icon-button"></i>
            <span>{{authService.getUserData()?.fullName}}</span>
        </span>
        <span>
            <i id="logout-icon" class="pi pi-sign-out icon-button" (click)="logout()"></i>
        </span>
    </div>
</div>
