<div class="main-container">

    <div class="header-row">
        <h2 class="heading">Tagok kezelése</h2>
    </div>

    <section class="filter-container">
        <form [formGroup]="form">
            <span class="p-float-label">
                <input pInputText id="username" formControlName="username" autocomplete="off" type="search"/>
                <label for="username">Felhasználónév</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="email" formControlName="email" autocomplete="off" type="search"/>
                <label for="email">E-mail cím</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="fullName" formControlName="fullName" autocomplete="off" type="search"/>
                <label for="fullName">Név</label>
            </span>
            <p-triStateCheckbox inputId="admin" label="Admin" formControlName="admin"></p-triStateCheckbox>
        </form>
        <div class="button-container">
            <p-button (onClick)="resetFilters()" severity="danger" label="Szűrők törlése"></p-button>
            <p-button type="button" (onClick)="filter()" label="Szűrés"></p-button>
        </div>
    </section>


    <section class="list-section">
        <p-table [value]="userList">
            <ng-template pTemplate="header">
                <tr>
                    <th>Felhasználónév</th>
                    <th>E-mail</th>
                    <th>Teljes név</th>
                    <th>Admin</th>
                    <th>Műveletek</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.fullName }}</td>
                    <td>
                        <i class="pi pi-check check" *ngIf="user.admin"></i>
                        <i class="pi pi-minus minus" *ngIf="!user.admin"></i>
                    </td>
                    <td>
                        <i class="pi pi-pencil icon-button" pTooltip="Szerkesztés"></i>
                        <i class="pi pi-trash icon-button minus" pTooltip="Törlés" (click)="confirmDelete(user)"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>        
    </section>




</div>
