<div class="main-container">

    <div class="header-row">
        <h2 class="heading">Tagok kezelése</h2>
    </div>

    <section class="filter-container">
        <form [formGroup]="filterForm" class="filter-form" (keydown.enter)="filter()">
            <span class="p-float-label">
                <input pInputText id="search-fullName" formControlName="fullName" autocomplete="off" type="search"/>
                <label for="search-fullName">Név</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="search-username" formControlName="username" autocomplete="off" type="search"/>
                <label for="search-username">Felhasználónév</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="search-email" formControlName="email" autocomplete="off" type="search"/>
                <label for="search-email">E-mail cím</label>
            </span>
            <p-triStateCheckbox inputId="search-admin" label="Admin" formControlName="admin"></p-triStateCheckbox>
        </form>
        <div class="button-container">
            <p-button (onClick)="resetFilters()" severity="danger" label="Szűrők törlése"></p-button>
            <p-button type="button" (onClick)="filter()" label="Szűrés"></p-button>
        </div>
    </section>


    <section class="list-section">
        <div class="button-container table-button-row">
            <p-button icon="pi pi-plus" label="Új" styleClass="p-button-success" (onClick)="showAddUserDialog()"></p-button>
        </div>
        <p-table [value]="userList">
            <ng-template pTemplate="header">
                <tr>
                    <th>Teljes név</th>
                    <th>Felhasználónév</th>
                    <th>E-mail</th>
                    <th>Admin</th>
                    <th>Műveletek</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{ user.fullName }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <i class="pi pi-check success-color" *ngIf="user.admin"></i>
                        <i class="pi pi-minus error-color" *ngIf="!user.admin"></i>
                    </td>
                    <td>
                        <i class="pi pi-pencil icon-button" (click)="showEditUserDialog(user)" pTooltip="Szerkesztés"></i>
                        <i class="pi pi-replay icon-button cyan-color" pTooltip="Alapértelmezett adatokra visszaállítás" (click)="confirmResetUserData(user)"></i>
                        <i class="pi pi-trash icon-button error-color" pTooltip="Törlés" (click)="confirmDelete(user)"></i>
                    </td>
                </tr>
            </ng-template>
        </p-table>        
    </section>

</div>

<p-dialog [(visible)]="userDialogVisible" [header]="dialogHeader" [draggable]="false" [resizable]="false" [modal]="true">

    <form class="dialog-form" [formGroup]="userForm" (keydown.enter)="saveUser()">
        <span class="p-float-label">
            <input pInputText id="fullName" formControlName="fullName" autocomplete="off" type="search"/>
            <label for="fullName" class="required">Név</label>
        </span>
        <span class="p-float-label" *ngIf="isEditing">
            <input pInputText id="username" formControlName="username" autocomplete="off" type="search"/>
            <label for="username" class="required">Felhasználónév</label>
        </span>
        <span class="p-float-label">
            <input pInputText id="email" formControlName="email" autocomplete="off" type="search"/>
            <label for="email" class="required">E-mail cím</label>
        </span>
        <p-checkbox label="Admin" formControlName="admin" [binary]="true"></p-checkbox>
    </form>


    <ng-template pTemplate="footer">
        <div class="button-container">
            <p-button label="Mégse" styleClass="p-button-outlined" (onClick)="cancel()"></p-button>
            <p-button label="Mentés" icon="pi pi-save" styleClass="p-button-success" (onClick)="saveUser()" [disabled]="!userForm.valid"></p-button>
        </div>
    </ng-template>

</p-dialog>
