<div id="login-container">
    <p-card>
        <div class="logo-container">
            <img class="logo-image" src="assets/img/logo-with-text.jpg">
        </div>
    
        <form [formGroup]="form" (ngSubmit)="login()">
            <span class="p-float-label">
                <input pInputText id="username" autofocus formControlName="username" />
                <label for="username" class="required">Felhasználónév</label>
            </span>
            <span class="p-float-label">
                <p-password id="password" formControlName="password" [feedback]="false"></p-password>
                <label for="password" class="required">Jelszó</label>
            </span>
    
            <p-button type="submit" label="Bejelentkezés" [disabled]="!form.valid"></p-button>
        </form>
    
    </p-card>    
</div>
